<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="pragma" content="no-cache" >
    <meta charset="UTF-8">
    <title>bbs.com</title>
       <link th:href="@{/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet" />

</head>
<body>
<div class="container">
    <ul class="nav nav-tabs ">
        <li><a href="/admin/index" >用户管理</a></li>
        <li class="active"><a href="/admin/section">板块管理</a></li>
        <li><a href="/admin/topic" >帖子管理</a></li>
        <li><a href="/admin/question">问答管理</a></li>
        <li><a href="/admin/demand">需求管理</a></li>
        <li><a href="/admin/follow">关注管理</a></li>
        <li><a href="/admin/supermaster">管理员管理</a></li>
        <li><a href="/admin/outlogin">退出登录</a></li>
    </ul>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 15px">
    <div class="col-md-4">
        <a href="/admin/section/addmsection" target="view_window"><input type="button" value="添加" class="btn btn-primary" id="button-add"></a>
    </div>
</div>

    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
        <tr>
            <th>主板块id</th>
            <th>主板块名</th>
            <th>版主id</th>
            <th>板块介绍</th>
            <th>板块内容总数</th>
            <th>管理副板块</th>
            <th>修改信息</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody >
            <tr th:each="mainSection : ${mainSectionList}">
                <td th:text="${mainSection.getMsid()}"></td>
                <td th:text="${mainSection.getMsname()}">姣姣爱哦</td>
                <td th:text="${mainSection.getMsmasterid()}">123</td>
                <td th:text="${mainSection.getMsprofile()}">1225732</td>
                <td th:text="${mainSection.getMstopiccount()}">2138572</td>
                <td><a href="#" th:href="@{/admin/section/mms/{orderId}(orderId=${mainSection.getMsid()})}" target="view_window">管理副板块</a></td>
                <td><a href="#" th:href="@{/admin/section/mupdate/{orderId}(orderId=${mainSection.getMsid()})}" target="view_window">修改信息</a></td>
                <td><a href="#" th:name="${mainSection.getMsid()}" class="deleteid">删除</a></td>
                 </tr>
        </tbody>
    </table>

    </div>
    <script th:src="@{/bootstrap/jquery-1.10.2.js}"></script>
    <script th:src="@{/bootstrap/jquery.metisMenu.js}"></script>
    <script th:src="@{/bootstrap/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/bootstrap/dataTables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/bootstrap/dialog/layer.js}"></script>
    <script th:src="@{/bootstrap/dialog.js}"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
        });
        $(".deleteid").on('click', function(){
            var id = $(this).attr("name");
            var url="/admin/section/msection/delete";
            var data={uid:id};
            $.post(url,data,function(result){
                if (result=="0") {
                    dialog.error("删除失败");
                }
                if (result=="1") {
                    dialog.success("删除成功","section");
                }
            },"json");
        });
    </script>
    <!-- CUSTOM SCRIPTS -->
    <script th:src="@{/bootstrap/custom.js}"></script>
</body>
</html>